.termsContainer {
    margin: 2rem auto;
    padding: 2rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 80%; /* Adjust width as needed */
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
    & h1, & h2 {
      color: #333;
    }
  
    & h1 {
      font-size: 2.5rem;
      margin-bottom: 1rem;
    }
  
    & h2 {
      font-size: 1.75rem;
      margin-top: 1.5rem;
      margin-bottom: 1rem;
    }
  
    & p {
      font-size: 1.25rem;
      line-height: 1.6;
      margin-bottom: 1rem;
    }
  
    & ul {
      list-style-type: disc;
      margin-left: 2rem;
      font-size: 1.25rem;
      line-height: 1.6;
    }
  
    & li {
      margin-bottom: 0.5rem;
    }
  
    & a {
      color: #007bff;
      text-decoration: none;
    }
  
    & a:hover {
      text-decoration: underline;
    }
  }
  